# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules
.npm/
jspm_packages/

# Build outputs
dist
dist-ssr
.storybook-static
out
.next
.cache
.vite
parcel-cache/
coverage
.nyc_output

# Local env files
.env
.env.*
!.env.example

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
Thumbs.db
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Misc
*.local
*.tgz
*.tsbuildinfo
.eslintcache
.pnp*
sqlite.db
*.sqlite
*.db

# Storybook
*storybook.log
storybook-static

